<div class="wrapper">
	<div class="ingredient-picker">
		<form class="imported-ingredient-form search" (submit)="submitForm(searchQuery.value)">
			<mat-form-field floatLabel="always" appearance="legacy">
				<mat-label>FDC description</mat-label>
				<input matInput type="text" placeholder="white potatoes, boiled without skin" #searchQuery>
				<mat-icon matPrefix>search</mat-icon>
			</mat-form-field>
<!--			<label for="food-search" hidden></label>-->
<!--			<input type="text" class="searchTerm" placeholder="Search for food" id="food-search">-->
<!--			<button mat-button type="submit" class="searchButton">-->
<!--				<mat-icon matPrefix>search</mat-icon>-->
<!--			</button>-->
			<button mat-raised-button type="submit">Search Fdc</button>
		</form>
		<div class="table-container">
			<table mat-table [dataSource]="consideredIngredients">
				<ng-container matColumnDef="fdcId">
					<th mat-header-cell *matHeaderCellDef>Fdc Id</th>
					<td mat-cell *matCellDef="let ingredient">{{ingredient.fdcId}}</td>
				</ng-container>

				<ng-container matColumnDef="description">
					<th mat-header-cell *matHeaderCellDef>Description</th>
					<td mat-cell *matCellDef="let ingredient">{{ingredient.description}}</td>
				</ng-container>

				<ng-container matColumnDef="score">
					<th mat-header-cell *matHeaderCellDef>Similarity</th>
					<td mat-cell *matCellDef="let ingredient">{{ingredient.score}}</td>
				</ng-container>

				<tr mat-header-row *matHeaderRowDef="consideredDisplayedColumns"></tr>
				<tr mat-row *matRowDef="let row; columns: consideredDisplayedColumns;"
				(click)="selectIngredientForPreview(row.fdcId)"
				[class.active]="row.fdcId === previewedIngredient?.fdcId"
				></tr>
			</table>
			<mat-spinner *ngIf="ingredientsAreLoading" diameter="150" color="accent"></mat-spinner>
		</div>
	</div>
	<div class="ingredient-preview">
		<div class="image-upload">
			<input type="file" (change)="onImageChange($event)" accept="image/*">
			<img *ngIf="base64img" [src]="sanitizer.bypassSecurityTrustUrl(base64img)">
		</div>
		<div class="table-container">
			<table mat-table [dataSource]="previewedIngredient?.nutrition">
				<ng-container matColumnDef="name">
					<th mat-header-cell *matHeaderCellDef>Name</th>
					<td mat-cell *matCellDef="let nutrient">{{nutrient.name}}</td>
				</ng-container>
				<ng-container matColumnDef="amount">
					<th mat-header-cell *matHeaderCellDef>Amount</th>
					<td mat-cell *matCellDef="let nutrient">{{nutrient.amount}}</td>
				</ng-container>
				<ng-container matColumnDef="unitName">
					<th mat-header-cell *matHeaderCellDef>Unit</th>
					<td mat-cell *matCellDef="let nutrient">{{nutrient.unitName}}</td>
				</ng-container>

				<tr mat-header-row *matHeaderRowDef="previewedDisplayedColumns; sticky: true"></tr>
				<tr mat-row *matRowDef="let row; columns: previewedDisplayedColumns"></tr>
			</table>
			<mat-spinner *ngIf="nutritionIsLoading" diameter="150" color="accent"></mat-spinner>
		</div>
	</div>
	<div class="break"></div>
	<button *ngIf="!ingredientAdditionsLoading" mat-raised-button (click)="addIngredientToLocal(previewedIngredient.fdcId, base64img)" [disabled]="!previewedIngredient">Add Ingredient	</button>
	<mat-spinner *ngIf="ingredientAdditionsLoading" diameter="36" color="accent"></mat-spinner>
</div>
