<div class="container">
	<header><h2>{{ingredient?.description}}</h2></header>
	<main>
		<div class="chart-container">
			<canvas baseChart height="100" width="100"
					[data]="pieChartConfig.pieChartData"
					[labels]="pieChartConfig.pieChartLabels"
					[chartType]="pieChartConfig.pieChartType"
					[legend]="pieChartConfig.pieChartLegend"
			></canvas>
		</div>
		<div class="ingredient-info-grid">
			<ul class="macro-info">
				<li>Protein: {{ingredient?.nutrition[0].amount}}</li>
				<li>Carbs: {{ingredient?.nutrition[2].amount}}</li>
				<li>Fat: {{ingredient?.nutrition[1].amount}}</li>
<!--				TODO real number of non zero nutrients-->
				<li><h6>20 other nutrients <a href="#">View Sheet</a></h6></li>
			</ul>
		</div>
		<form class="ingredient-config" (ngSubmit)="passIngredientUpwards()" [formGroup]="form">
			<mat-form-field *ngIf="showMealField">
				<mat-label>Meal Time</mat-label>
				<mat-select formControlName="mealTime">
					<mat-option *ngFor="let mealTime of mealTimes" [value]="mealTime">{{mealTime}}</mat-option>
				</mat-select>
			</mat-form-field>
			<div class="quantity-config">
				<mat-form-field>
					<mat-label>Serving unit</mat-label>
					<mat-select formControlName="unit">
						<mat-option *ngFor="let unit of UNIT" [value]="unit">{{unit}}</mat-option>
					</mat-select>
				</mat-form-field>
				<mat-form-field>
					<mat-label>Size</mat-label>
					<input matInput formControlName="quantity" autocomplete="off">
				</mat-form-field>
			</div>
			<button mat-stroked-button color="primary" type="submit">Add</button>
		</form>
	</main>
</div>
