<div *ngIf="basket.length > 0" class="preview-container">
	<h2>Review your meal</h2>
	<ul class="basket-container">
		<li *ngFor="let item of basket">
			<h4>{{item.description}}</h4>
			<div class="quantity-preview">
				<mat-form-field>
					<mat-select [ngModel]="item.kind">
						<mat-option [value]="'breakfast'">Breakfast</mat-option>
						<mat-option [value]="'lunch'">Lunch</mat-option>
						<mat-option [value]="'dinner'">Dinner</mat-option>
						<mat-option [value]="'snack'">Snack</mat-option>
					</mat-select>
				</mat-form-field>
				<mat-form-field>
					<mat-select [ngModel]="item.quantity.referenceUnit">
						<mat-option value="gram">Gram</mat-option>
						<mat-option value="ounce">Ounce</mat-option>
						<mat-option value="serving">Serving</mat-option>
					</mat-select>
				</mat-form-field>
				<mat-form-field>
					<input matInput type="number" autocomplete="off" [ngModel]="item.quantity.referenceQuantity">
				</mat-form-field>
				<img *ngIf="item.picture"
					 [src]="conversions.convertMongoBase64toHTMLBase64(item.picture)" class="food-pic">
				<span class="spacer"></span>
				<button mat-button class="remove" (click)="removeItemFromBasket(item)">Remove</button>
			</div>
		</li>
	</ul>
</div>
