@import '../../../variables';

.container {
	margin: auto;
	background-color: mat-color($primary);
	width: 32vw;
	border-radius: 10px;
	padding: 1rem 1rem 0 1rem;

	.example-form {
		width: 100%;
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
		align-items: center;
	}

	mat-form-field {
		width: 100%;
		margin-bottom: 0.5rem;

		&:last-of-type {
			margin-bottom: 1rem;
		}
		input {
			color: white;
		}

		mat-icon {
			color: white
		}
	}

	button {
		background-color: $button-action-color;
		margin: auto auto 1rem auto;
	}
}
