@import '../../../variables';

.container {
	background-color: mat-color($primary);
	width: 32vw;
	border-radius: 10px;
	margin-left: 3rem; // this is just for early development
	padding: 1rem;

	.example-form {
		width: 100%;
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
		align-items: center;
	}

	mat-form-field {
		width: 100%;
	}

	button {
		background-color: $button-action-color;
		margin: auto;
	}

	.message {
		margin: auto;
		text-align: center;
		vertical-align: center;
		color: white;
		font-size: 2rem;
	}
}
