<div class="container">
	<form class="example-form" [formGroup]="form" (ngSubmit)="onSubmit()">
		<mat-form-field floatLabel="always" color="accent" *ngFor="let question of formModel">
			<mat-label>{{question.label}}</mat-label>
			<input matInput [type]="question.inputType" [formControlName]="question.key" [placeholder]="question.placeholder">
			<mat-icon matPrefix>{{question.prefixIcon}}</mat-icon>
			<mat-error>{{question.errorMessages[getControlError(question.key)]}}</mat-error>
		</mat-form-field>

		<button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Submit</button>
		<button mat-raised-button color="primary" type="button" (click)="switchMode()">{{mode == FORM_MODE.in ? 'Sign up' : 'Sign in'}} instead</button>
	</form>
</div>
