@import '~@angular/material/theming';

// define 3 theme color
// mat-palette accepts $palette-name, main, lighter and darker variants
$primary: mat-palette($mat-teal);
$accent: mat-palette($mat-amber);
$warn: mat-palette($mat-deep-orange, A400);

$my-theme: mat-dark-theme(
		$primary,
		$accent,
		$warn
);

$foreground: map-get($my-theme, foreground);
$background: map-get($my-theme, background);

$button-action-color: darken(desaturate(mat-color($accent), 10), 3);
